@use "variables";
@use "mixins";

.portfolio {
  &__grid {
    display: grid;
  }
  &__selector-bar {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    position: relative;
    transition: 0.75s;
    opacity: 100%;
    &.start {
      opacity: 0;
    }
  }
  &__selector-slider {
    position: absolute;
    height: 100%;
    background-color: $raisinBlack;
    transition: width 0.45s, left 0.45s, opacity 0.75s;
    opacity: 100%;
    &.start {
      opacity: 0;
    }
  }
  &__selector-item {
    padding: 0 2rem;
    margin: 0 2rem;
    cursor: pointer;
    color: #fff;
    mix-blend-mode: difference;
    z-index: 1;
    @include MaxWidth(1280px) {
      padding: 0 1rem;
      margin: 0 1rem;
    }
    @include MaxWidth(870px) {
      padding: 0 0.5rem;
      margin: 0 0.5rem;
    }
    @include MaxWidth(323px) {
      padding: 0 0.25rem;
      margin: 0 0.25rem;
    }

    & h4 {
      margin: 0;

      @include MaxWidth(432px) {
        font-size: larger;
      }
      @include MaxWidth(432px) {
        font-size: medium;
        font-weight: bold;
      }
      @include MaxWidth(365px) {
        font-size: small;
      }
    }
  }
  &__work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    align-content: center;
    overflow: hidden;
    transition: 1s;
  }
  &__work-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 1s;
  }
  &__work {
    height: 250px;
    width: 400px;
    position: relative;
    transition: 1s;
    top: 0%;
    scale: 100%;
    opacity: 100%;
    display: inline-block;
    @include MaxWidth(1440px) {
      width: 300px;
      height: 187.5px;
    }
    @include MaxWidth(1024px) {
      width: 200px;
      height: 125px;
    }
    @include MaxWidth(425px) {
      width: 300px;
      height: 187.5px;
    }
    &.animated {
      top: 100%;
      scale: 0%;
      opacity: 0%;
      &.deactive {
        width: 0;
        height: 187.5px;
        @include MaxWidth(425px) {
          width: 300px;
          height: 0;
        }
      }
    }
    &.one {
      transition-delay: 0.1s;
    }
    &.two {
      transition-delay: 0.2s;
    }
    &.three {
      transition-delay: 0.3s;
    }
    &.four {
      transition-delay: 0.4s;
    }
    &.five {
      transition-delay: 0.5s;
    }
    &.six {
      transition-delay: 0.6s;
    }
    &.seven {
      transition-delay: 0.7s;
    }
    &.eight {
      transition-delay: 0.8s;
    }
    &.nine {
      transition-delay: 0.9s;
    }
  }
}

.work {
  &__container {
    width: 100%;
    height: 100%;
    background-color: green;
    transition: 0.25s;
    position: relative;
    &:hover .work__details {
      opacity: 100%;
    }
    &:hover .work__top {
      top: 0;
    }
    &:hover .work__btn {
      top: 0;
    }
  }
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  &__details {
    opacity: 0%;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: $raisinBlack;
    color: whitesmoke;
    transition: 0.25s;
    text-align: center;
    overflow: hidden;
  }
  &__top {
    position: relative;
    top: -100%;
    transition: 0.45s;
  }
  &__title {
    margin: 0;
  }
  &__desc {
    color: $slateBlue;
    margin: 0;
  }
  &__btn {
    background-color: transparent;
    border-color: $moonstone;
    border-width: 2px;
    transition: background-color 0.25s, top 0.45s;
    position: relative;
    top: 150%;
    &:hover,
    &:focus,
    &:active,
    &:active:focus,
    &:focus:active {
      background-color: $moonstone !important;
      border-color: $moonstone !important;
      box-shadow: none !important;
      outline: none !important;
    }
  }
}
