@use "variables";
@use "mixins";

.portfolio {
  &__grid {
    display: grid;
  }
  &__selector-bar {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    position: relative;
  }
  &__selector-slider {
    position: absolute;
    height: 100%;
    background-color: $raisinBlack;
    transition: width 0.45s, left 0.45s;
  }
  &__selector-item {
    padding: 0 2rem;
    margin: 0 2rem;
    cursor: pointer;
    color: #fff;
    mix-blend-mode: difference;
    z-index: 1;
    & h4 {
      margin: 0;
    }
    &.active {
    }
  }
  &__work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    align-content: center;
    overflow: hidden;
    transition: 1s;
  }
  &__work-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 1s;
  }
  &__work {
    height: 250px;
    width: 400px;
    position: relative;
    transition: 1s;
    top: 0%;
    scale: 100%;
    opacity: 100%;
    display: inline-block;
    &.animated {
      top: 100%;
      scale: 0%;
      opacity: 0%;
      &.deactive {
        width: 0;
      }
    }
    &.one {
      background-color: cyan;
      transition-delay: 0.1s;
    }
    &.two {
      background-color: yellow;
      transition-delay: 0.2s;
    }
    &.three {
      background-color: red;
      transition-delay: 0.3s;
    }
    &.four {
      background-color: orange;
      transition-delay: 0.4s;
    }
    &.five {
      background-color: green;
      transition-delay: 0.5s;
    }
    &.six {
      background-color: purple;
      transition-delay: 0.6s;
    }
    &.seven {
      background-color: grey;
      transition-delay: 0.7s;
    }
    &.eight {
      background-color: blue;
      transition-delay: 0.8s;
    }
    &.nine {
      background-color: lightcoral;
      transition-delay: 0.9s;
    }
  }
}
