@use "variables";

.section {
  padding: 5rem 0;
  &__header {
    width: fit-content;
    font-size: 3rem;
    margin: 0;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    opacity: 100%;
    transition: 0.75s;
    &.about {
      &.start {
        left: 100%;
        opacity: 0;
      }
    }
    &.portfolio {
      &.start {
        left: 0%;
        opacity: 0;
      }
    }
  }
  &__underline {
    width: 4rem;
    height: 0.3rem;
    background-color: $raisinBlack;
    margin: 0.45rem 0 6.25rem;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    opacity: 100%;
    transition: 0.75s;
    &.about {
      &.start {
        left: 0%;
        opacity: 0;
      }
    }
    &.portfolio {
      &.start {
        left: 100%;
        opacity: 0;
      }
    }
  }
}
